/* list-products ***********************/
.list-products {
  @media (max-width: $screen-xs) {
    margin-top: -$indent-medium;
  }

  &__item {
    @include reset-last-indent;
    margin-bottom: -1px;
    @media (max-width: $screen-xs) {
      @include width(initial);
      margin-left: -$indent-medium;
      margin-right: -$indent-medium;

      .product-card {
        border-left: none;
        border-right: none;
      }
      &:first-child {
        .product-card {
          border-top: none;
        }
      }
    }
  }

  &_cols {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $screen-sm) {
      display: block;
    }
  }
  &_cols &__item {
    @include width(100% / 4);
    @media (max-width: $screen-lg) {
      @include width(100% / 3);
    }
    @media (max-width: $screen-sm) {
      @include width(100%);

      .product-card_col {
        .product-card__price,
        .product-card__title {
          height: auto;
        }
        .product-card__content {
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: $screen-xs) {
      @include width(initial);
    }
  }
}
