/* main-cols ***********************/
.main-cols {
  @media (min-width: $screen-lg) {
    @include cols($indent-medium);
  }

  &__aside {
    @include reset-last-indent;
    @media (min-width: $screen-lg) {
      @include width(25%);
    }
    @media (max-width: $screen-lg) {
      margin-bottom: $indent-large;
    }

    &_no-indent {
      margin-bottom: 0 !important;
    }
  }
  &__article {
    @include reset-last-indent;
    @media (min-width: $screen-lg) {
      @include width(75%);
    }
    @media (max-width: $screen-lg) {
      margin-bottom: $indent-large;
    }
  }

  &_v2 {
    margin-left: -22px;
    margin-right: -22px;

    > * {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  &_v2 &__aside {
    @media (min-width: $screen-lg) {
      @include width(33%);
    }
  }
  &_v2 &__article {
    @media (min-width: $screen-lg) {
      @include width(67%);
    }
  }
}
