/* products-slider ***********************/
.products-slider {
  position: relative;

  &__inner {
    margin-bottom: -$indent-medium;
    padding: $indent-medium 1px;
  }
  &__next,
  &__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    @media (max-width: 1332px) {
      display: none;
    }

    &:hover {
      background-color: darken(#F2F2F2, 5%);
    }
    img {
      height: 16px;
    }
  }
  &__next {
    left: 100%;
    margin-left: $indent-medium;
  }
  &__prev {
    right: 100%;
    margin-right: $indent-medium;
  }

  .swiper-slide {
    width: 240px;
    @media (max-width: $screen-lg) {
      width: 223px;
    }
    @media (max-width: $screen-sm) {
      width: 260px;
    }
    @media (max-width: $screen-xs) {
      width: 222px;
    }
  }
}
