/* price ***********************/
.price {
  &__now {
    font-weight: $fw-bold;

    span {
      color: $c-secondary;
      font-weight: $fw-regular;
    }
  }
  &__old {
    text-decoration: line-through;
    font-size: 11px;
    color: $c-secondary;
  }
  &__discount {
    font-size: 12px;
    color: white;
    background-color: $c-accent;
    padding: 3px 4px;
    display: inline-block;
    border-radius: $r-medium;
    line-height: 1;
  }
}
