/* count-switcher ***********************/
.count-switcher {
  display: inline-flex;
  align-items: center;
  border-radius: $r-medium;
  border: 1px solid $c-border;
  line-height: 1;

  input {
    display: none;
  }
  button {
    @include reset-button;
    height: 32px;
    width: 32px;
    transition: $trans-medium;
    position: relative;

    &:hover {
      &:before,
      &:after {
        background-color: $c-primary;
      }
    }
  }
  &__minus {
    border-right: 1px solid $c-border !important;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      height: 2px;
      width: 12px;
      background-color: #999999;
    }
  }
  &__plus {
    border-left: 1px solid $c-border !important;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      height: 2px;
      width: 12px;
      background-color: #999999;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(90deg);
    }
  }
  &__count {
    width: 36px;
    text-align: center;
  }
}
