/* sort ***********************/
.sort {
  @include reset-list;
  @include cols($indent-small);

  &__item {
    a {
      color: black;
    }
    &_asc,
    &_desc {
      &:after {
        content: '';
        display: inline-block;
        background-image: url($img + 'icon-chevron-down-black.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        position: relative;
        top: 1px;
        width: 10px;
        height: 10px;
        transition: $trans-medium;
      }
      a {
        font-weight: $fw-bold;
      }
    }
    &_desc {
      &:after {
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
}
