/* favorite-link ***********************/
.favorite-link {
  background: none;
  border: none;
  font-size: 14px;
  position: relative;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 17px + $indent-small;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url($img + 'icons/icon-star-outline-accent.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 17px;
    height: 16px;
  }
  &_active {
    color: $c-accent;

    &:before {
      background-image: url($img + 'icons/icon-star-accent.svg');
    }
  }
}
