/* link-icon ***********************/
.link-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none !important;

  span {
    display: block;
  }
  span + img,
  img + span {
    margin-left: $indent-small;
  }
}
