/* dropdown ***********************/
.dropdown {
  position: relative;

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: $r-large;
    margin-top: $indent-small;
    @include reset-list;
    padding-top: $indent-small;
    padding-bottom: $indent-small;
    max-height: 270px;
    overflow-y: auto;
    display: none;
    animation: $trans-medium dropdown backwards;
    -webkit-overflow-scrolling: touch;

    li {
      a {
        display: flex;
        padding: $indent-small $indent-medium;
        color: black;
        text-decoration: none !important;
        transition: $trans-medium;
        font-size: 14px;
        line-height: $lh-small;

        &:hover {
          background-color: $bg-primary;

          &,
          * {
            color: white !important;
          }
        }
        > * {
          margin-right: $indent-small;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  &__arrow {
    margin-left: $indent-xsmall;
    margin-top: 3px;
    transition: $trans-medium;
  }

  &_active &__list {
    display: block;
  }
  &_active &__arrow {
    transform: rotate(180deg);
  }

  &_left &__list {
    left: auto;
    right: 0;
  }
}
