/* coupon-panel ***********************/
.coupon-panel {
  background-color: $bg-promo;
  padding: 25px 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: $r-large;

  &:before {
    content: '';
    display: block;
    background-image: url($img + 'icons/icon-cut-black.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 17px;
    position: absolute;
    bottom: -9px;
    right: 20px;
  }
  &__inner {
    @include cols($indent-medium);
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    @include reset-last-indent;
    @media (max-width: $screen-sm) {
      justify-content: center;
    }
  }
  &__input {
    display: flex;
    text-align: center;
    @media (max-width: $screen-sm) {
      margin-bottom: $indent-medium;
    }

    input {
      margin-right: $indent-medium;
      width: 200px;
      @media (max-width: $screen-sm) {
        width: 166px;
      }
      @media (max-width: $screen-xs) {
        width: 110px;
      }
    }
  }
  &__submit {}
  &__info {
    position: relative;
    top: -2px;
    @media (max-width: $screen-sm) {
      text-align: center;
    }
  }
  &__status {
    color: $c-success;
  }
  &__discount {
    color: #333333;
    display: flex;
    align-items: center;
    @media (max-width: $screen-sm) {
      flex-direction: column;
      justify-content: center;
    }
    a {
      @media (max-width: $screen-sm) {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $c-secondary;
        margin-top: 10px;
      }

      span {
        display: none;
        @media (max-width: $screen-sm) {
          display: block;
        }
      }
    }
    img {
      margin-left: 8px;
      @media (max-width: $screen-sm) {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}
