/* product-card ***********************/
.product-card {
  display: flex;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  box-shadow: 1px 0 0 0 #e5e5e5;
  padding: $indent-medium;
  position: relative;
  @media (max-width: $screen-sm) {
    flex-direction: column;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 160px;
    @include width(230px);
    @media (max-width: $screen-lg) {
      @include width(180px);
    }
    @media (max-width: $screen-sm) {
      @include width(100%);
      margin-right: 0;
      margin-bottom: $indent-medium;
    }

    a {
      display: block;
    }
    img {
      max-width: 230px;
      max-height: 160px;
    }
  }
  &__content {
    @include reset-last-indent;
    @media (min-width: $screen-sm + 1) {
      flex-grow: 1;
      margin-right: $indent-medium;
    }
  }
  &__params {
    @include width(180px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: $screen-sm) {
      margin-top: $indent-medium;
      @include width(100%);
      justify-content: flex-start;
    }
  }
  &__title {
    font-size: $fz-medium;
    margin-bottom: $indent-small;

    a {
      color: black;
    }
  }
  &__status {
    margin-bottom: $indent-xsmall;
  }
  &__action {
    margin-top: $indent-medium;

    .btn {
      justify-content: center;
      @include btn-color($c-primary, $c-primary, white);

      span {
        font-weight: $fw-semi-bold;
      }
      svg {
        fill: white;
      }
    }
  }
  &__discount {
    position: absolute;
    top: $indent-medium;
    left: $indent-medium;
    background-color: $c-attention;
    color: white;
    padding: 3px 5px;
    font-size: $fz-small;
    line-height: 1;
    border-radius: $r-medium;
    font-weight: $fw-bold;
  }
  &__fav {
    position: absolute;
    right: $indent-medium;
    top: $indent-medium;
    font-size: 14px;
    @media (min-width: $screen-sm + 1) {
      width: 180px;
    }

    a {
      display: flex;
      align-items: center;
      color: $c-secondary;
      text-decoration: none !important;

      span {
        display: block;
        margin-left: $indent-xsmall;
        @media (max-width: $screen-sm) {
          display: none;
        }
      }
    }
  }
  &__info {
    margin-bottom: $indent-small;
    @include cols($indent-small);
    flex-wrap: wrap;
    font-size: 14px;

    span {
      color: $c-secondary;
    }
  }
  &__desc {
    font-size: 14px;
    color: $c-dark;
  }

  &_col {
    flex-direction: column;
    transition: $trans-medium;

    &:hover {
      @media (min-width: $screen-lg) {
        box-shadow: 0 0 17px rgba(0, 0, 0, 0.15);
      }
    }
  }
  &_col &__price {
    height: 38px;
    overflow: hidden;
  }
  &_col &__desc,
  &_col &__info {
    display: none;
  }
  &_col &__img {
    margin-right: 0;
    margin-bottom: $indent-medium;
    @include width(100%);

    img {
      max-width: 186px;
    }
  }
  &_col &__fav {
    width: auto;

    a {
      span {
        display: none;
      }
    }
  }
  &_col &__content {
    margin-bottom: 10px;
  }
  &_col &__params {
    @include width(100%);
    display: block;
  }
  &_col &__title {
    font-size: 13px;
    height: 45px;
    overflow: hidden;
  }
  &_col &__action {
    margin-top: $indent-medium;

    .btn {
      @include btn-color(transparent, transparent, $c-link);

      svg {
        fill: $c-primary;
      }
    }
  }
  &_col:hover &__action {
    .btn {
      background-color: $c-primary;
      border-color: $c-primary;
      color: white;

      svg {
        fill: white;
      }
    }
  }
}
