/* basket-buy-card ***********************/
.basket-buy-card {
  background: #FFFFFF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-top: -70px;
  @media (max-width: $screen-lg) {
    margin-top: 45px;
  }
  @media (max-width: $screen-sm) {
    padding: 20px;
  }

  &__layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: $indent-xsmall;

    &:last-child {
      margin-bottom: 0;
    }
    &_highlighted {
      background-color: $bg-promo;
      margin-left: -$indent-medium;
      margin-right: -$indent-medium;
      padding-left: $indent-medium;
      padding-right: $indent-medium;
      border-radius: $r-medium;
    }
  }
  &__sum {
    padding-top: $indent-medium;
    margin-top: $indent-small + $indent-xsmall;
    border-top: 1px solid $c-border;
    @include reset-last-indent;

    > * {
      margin-bottom: 15px;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: 15px;

      > *:first-child {
        @media (min-width: $screen-sm) and (max-width: $screen-lg) {
          margin-right: $indent-large;
        }
      }
    }
  }
  &__price {
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 1;
    @media (max-width: $screen-sm) {
      font-size: 18px;
    }
  }
  &__action {
    margin-top: 15px;
    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
      margin-top: 0;
    }

    &-one-click {
      font-weight: $fw-bold;
      text-align: center;
      display: block;
      margin-top: 15px;
    }
  }
}
