/* product-headline ***********************/
.product-headline {
  padding-bottom: $indent-large;
  @media (min-width: $screen-lg) {
    padding-top: $indent-large;
  }
  @media (max-width: $screen-sm) {
    padding-bottom: 20px;
  }

  &__inner {
    @extend %container;
    @include reset-last-indent;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 0;
    margin-right: $indent-medium;
    @media (max-width: $screen-sm) {
      font-size: 22px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin-top: $indent-xsmall;
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}
