/* promo-block ***********************/
.promo-block {
  padding-top: $indent-large;
  @media (min-width: $screen-lg) {
    border-top: 1px solid $c-border;
  }
  @media (max-width: $screen-lg) {
    padding-top: 20px;
  }

  &__inner {
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $screen-sm) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__slider {
    @include width(65%);
    padding-right: $indent-large;
    @media (max-width: $screen-lg) {
      @include width(100%);
      padding-right: 0;
    }
  }
  &__banners {
    @include width(35%);
    @include reset-last-indent;
    @media (max-width: $screen-lg) {
      margin-top: $indent-medium;
      @include width(100%);
      display: flex;
    }
    @media (max-width: $screen-sm) {
      @include width($screen-xs);
      padding-left: $indent-medium;
      padding-right: $indent-medium;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: $screen-xs) {
      @include width(100%);
    }

    > * {
      margin-bottom: $indent-large;
      @media (max-width: $screen-lg) {
        @include width(49%);
        margin-right: $indent-medium;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
      @media (max-width: $screen-sm) {
        @include width(48%);
      }
    }
  }
}
