/* form ***********************/
.form {
  @include reset-last-indent;

  &__section {
    @include reset-last-indent;
  }
  &__group {
    margin-bottom: $indent-medium;

    &_large {
      @media (min-width: $screen-sm + 1) {
        margin-bottom: $indent-large;
      }
    }
  }
  &__hint {
    font-size: 14px;
    color: $c-secondary;
    margin-top: $indent-small;
  }
}
