/* cols ***********************/
.cols {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$indent-space;
  margin-right: -$indent-space;

  &__item {
    padding-left: $indent-space;
    padding-right: $indent-space;

    &_sm-6 {
      @media (min-width: $screen-sm) {
        @include width(100% / 2);
      }
      @media (max-width: $screen-sm) {
        @include width(100%);
      }
    }
    &_sm-9 {
      @media (min-width: $screen-sm) {
        @include width(9 * 100% / 12);
      }
      @media (max-width: $screen-sm) {
        @include width(100%);
      }
    }
    &_sm-8 {
      @media (min-width: $screen-sm) {
        @include width(8 * 100% / 12);
      }
      @media (max-width: $screen-sm) {
        @include width(100%);
      }
    }
    &_sm-3 {
      @media (min-width: $screen-sm) {
        @include width(3 * 100% / 12);
      }
      @media (max-width: $screen-sm) {
        @include width(100%);
      }
    }
    &_sm-4 {
      @media (min-width: $screen-sm) {
        @include width(4 * 100% / 12);
      }
      @media (max-width: $screen-sm) {
        @include width(100%);
      }
    }
  }

  &_reverse-xs {
    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &_space-between {
    justify-content: space-between;
  }

  &_vertical {
    &-center {
      align-items: center;
    }
  }

  &_sm-and-down-row {
    @media (max-width: $screen-sm) {
      display: block;
    }
  }
}
