/* product-info ***********************/
.product-info {
  @extend %container;
  @media (max-width: $screen-sm) {
    margin-bottom: $indent-medium;
  }

  &__inner {
    @include cols($indent-medium);
    @media (max-width: $screen-lg) {
      display: block;
    }
    @media (max-width: $screen-sm) {
      flex-wrap: wrap;
    }
  }
  &__gallery {
    @include width(380px);
    @media (max-width: $screen-lg) {
      @include width(100%);
      margin-bottom: $indent-large;
    }
    @media (max-width: $screen-sm) {
      margin-bottom: $indent-medium;
    }
  }
  &__info {
    font-size: 14px;
    @include reset-last-indent;
  }
  &__short-info {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
  &__params {
    @media (min-width: $screen-sm + 1) {
      @include cols($indent-medium);
      display: flex !important;
      flex-wrap: wrap;
      width: auto !important;
    }

    dl {
      display: flex !important;
      justify-content: space-between;
      @media (min-width: $screen-sm + 1) {
        width: 50% !important;
      }

      dt {
        width: auto;
        flex-grow: 1;
        display: block;
      }
      dd {
        display: block;
      }
    }
  }
  &__buy-cards {
    margin-top: $indent-large;
    @media (max-width: $screen-sm) {
      margin-top: $indent-medium;
    }
  }
  &__delivery {
    margin-top: $indent-large;
    font-size: 14px;
    border-radius: $r-medium;
    border: 1px solid $c-border;
    padding-left: $indent-small + $indent-medium;
    padding-right: $indent-small + $indent-medium;
    @media (max-width: $screen-sm) {
      margin-top: $indent-medium;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $indent-medium + $indent-small;
      margin-bottom: $indent-medium + $indent-small;

      &_small {
        margin-top: $indent-medium;
        margin-bottom: $indent-medium;
      }
    }
  }
  &__price {
    font-size: 26px;
    line-height: 1;

    .product-price_old {
      font-size: 20px;
    }
    .product-price {
      font-weight: $fw-regular;
    }
  }
  &__fav {
    text-align: center;
    padding-top: $indent-medium;
    margin-top: $indent-medium + $indent-small;
    margin-bottom: -$indent-small;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      height: 1px;
      background-color: $c-border;
      left: -$indent-medium - $indent-small;
      right: -$indent-medium - $indent-small;
    }
  }
}
